<?xml version="1.0" encoding="UTF-8"?>

<!--
 (#)logback.xml 0.6.0   01/09/2024
 (#)logback.xml 0.5.0   01/08/2024
 (#)logback.xml 0.4.0   01/02/2024
 (#)logback.xml 0.3.0   12/21/2023
 (#)logback.xml 0.2.0   12/20/2023
 (#)logback.xml 0.1.0   12/15/2023

 Copyright (c) Jonathan M. Parker
 All Rights Reserved.

 @author    Jonathan Parker
 @version   0.6.0
 @since     0.1.0
-->

<configuration scan="false" scanPeriod="60 seconds" packagingData="false" debug="false">
  <appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5level [%logger] [%M] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="net.jmp.demo.mongodb.atlas.async.Collections" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.mongodb.atlas.async.Delete" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.mongodb.atlas.async.Find" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.mongodb.atlas.async.Insert" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.mongodb.atlas.async.Main" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.mongodb.atlas.async.UpdateAndReplace" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="net.jmp.demo.mongodb.atlas.async.UpdateArrays" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>

  <logger name="net.jmp.demo.mongodb.atlas.async.Upsert" additivity="false" level="info">
    <appender-ref ref="MAIN" />
  </logger>

  <logger name="org.mongodb.driver.client" additivity="false" level="off">
    <appender-ref ref="MAIN" />
  </logger>
  <logger name="org.mongodb.driver.cluster" additivity="false" level="off">
    <appender-ref ref="MAIN" />
  </logger>

  <root level="info">
    <appender-ref ref="MAIN" />
  </root>
</configuration>
